@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html,
body{
    width: 100%;
    background-image: url(img/nature-1.jpg);
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    
}


/* --------------------NAVBAR---------------------------- */

.container{
    display: flex;
    justify-content: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px 7%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.301);
    border-radius: 20px;
}

header .logo {
    font-size: 25px;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

header .logo:hover{
    color: rgb(184, 143, 55);
    transition: 0.5s ease-in-out;
}

.navbar {
    display: flex;
    position: relative;
    list-style: none;
}

.navbar li{
    padding: 10px;
}

.navbar li a{
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 20px;
    transition: 0.5s ease;

}

.navbar li .social-m{
    background-color: rgb(161, 46, 37);
    padding: 10px;
    border-radius: 30px;
}

.navbar li .social-m:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(184, 143, 55);
}

.navbar li a:hover{
    letter-spacing: 5px;
    color: rgb(184, 143, 55);
}

/* --------------------NAVBAR--------enddd----------------- */



/* -------------------HOME------------------------------- */

.home{
    height: 60vh;

}

/* text */

.text-home{
    font-size: 25px;
    margin-top: 150px;
    text-align: center;
}

.text-home h1{
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-family: "Cinzel", serif;
}

.text-home h1 span{
    color: rgb(103, 39, 39);
    font-family: "Cinzel", serif;
    font-weight: 800;
}

.text-home h3{
    color: white;
    font-weight: 200;
    cursor: pointer;
    transition: 0.2s ease-in-out;

}

.text-home h3:hover{
    color: rgb(211, 108, 104);
    letter-spacing: 5px;
    background-color: rgba(16, 16, 16, 0.404);
}

.text-home h5{
    display: inline-block;
    color: white;
    font-size: 10px;

}

/* BUTTON */

.btn-text-home{
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-text-home a{
    width: 20%;
    background-color: rgba(161, 45, 37, 0.711);
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.btn-text-home a:hover{
    background-color: rgb(172, 32, 32);
    color: rgb(242, 234, 234);
    width: 25%;
}

/* -------------------HOME---------ENDDD-------------------- */